<div class="container">
    <div class="col1" id="burgerCard">
        {{#each newBurgers}}
        <p class="item"</p>{{burger_name}} <button class="devourBtn" data-uid='{{id}}'>Devour It</button>
        <br>
        {{/each}}
    </div>
    <div class="col2" id="devouredCard">
        {{#each devBurgers}}
        <p id="devoured" class="item">{{burger_name}}</p>
        {{/each}}
    </div>
</div>